apiVersion: apps/v1
kind: Deployment
metadata:
  name: om-edge
  labels:
    app: om-edge
  annotations:
    link.argocd.argoproj.io/external-link: https://discord.com/oauth2/authorize?client_id=1245101242443894805
spec:
  replicas: 1
  selector:
    matchLabels:
      app: om-edge
  template:
    metadata:
      labels:
        app: om-edge
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: topology.kubernetes.io/zone
                    operator: NotIn
                    values:
                      - oracle
      containers:
        - name: om-edge
          image: ghcr.io/discordjs-japan/om:edge@sha256:5f1f17d7846adcd75ae68f7d85a9ac80e4623004b5cd3de32196e96d579a8f11
          imagePullPolicy: IfNotPresent # because digest pinning
          env:
            - name: LOG_LEVEL
              value: debug
          envFrom:
            - secretRef:
                name: om-edge-token
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            runAsUser: 65532
            seccompProfile:
              type: RuntimeDefault
      tolerations:
        - key: "low-spec"
          operator: "Exists"
          effect: "NoExecute"
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 0
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 0
